/*face logo section*/

svg{
width: 100px;
height: 100px;
}

.a{
fill:#010101
}


.b{
fill:#ffcf8b
}


.c{
fill:#793815
}


.e{
fill:#fcfcfc
}



/*magnifying glass section*/

main > section > svg:first-of-type{
width: 10%;
height: 40%;
}



/*bell section*/


main > section > svg:nth-of-type(2){
width: 10%;
height: 40%;
}

.white{
fill: white;
}


